/terraform/terraform.tfvars
/terraform/k8s-gcp-account.json
/terraform/.terraform/**
/terraform/*.tfstate
/terraform/*.tfstate.*

/k8s/db-password.txt

/web-app/vendor/bundle/**/**
/web-app/tmp/**
/web-app/log/**